@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Unbounded&display=swap');

* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: "Sofia Sans", sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;

}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(200, 232, 247, 1) 22%, rgba(206, 235, 248, 1) 51%, rgba(0, 154, 219, 1) 100%);
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #000000;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 55px;
    height: 5px;
    background: #74D1E8;
    border-radius: 25px;


}
header nav ul li.btn a {
    background: #74D1E8;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}
header nav ul li.btn a:hover {
    background: #01aad4;

}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #000000;
}

.hero {
    padding-bottom: 100px;

}
.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h1 {
    color: #111010;
    font-size: 49px;
    font-weight: 600;

}
.hero--info h2 {
    color: #111010;
    font-size: 29px;
    font-weight: 400;
    line-height: 170%;
    margin: 30px 0;
}
.hero--info button {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 500;

}
.hero--info p {
    color: #111010;
    font-size: 29px;
    font-weight: 600;
}
.hero img {
    position: absolute;
    top: 500px;
    right: 150px;
}
.hero title {
    color: #111010;
    font-size: 59px;
    font-weight: 600;
}